version: '3'

services:
  reverse-proxy:
    image: nginx
    container_name: reverse-proxy
    command: sh -c "cp -f /etc/nginx/tmp/nginx.conf /etc/nginx && cp -f /etc/nginx/tmp/conf.d/*.conf /etc/nginx/conf.d && nginx -g 'daemon off;'"
    volumes:
      - ./nginx.conf:/etc/nginx/tmp/nginx.conf
      - ./default.conf:/etc/nginx/tmp/conf.d/default.conf
      - ./rp.conf:/etc/nginx/tmp/conf.d/rp.conf
    ports:
      - 80:80
